/* Match plot styling to code blocks */
img.r-plt,
.figure img,
figure img,
img.figure-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0.375rem;
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-tertiary-bg);
}
